.countries{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.traveled{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
    color: blueviolet;
    font-style: italic;
}